header {
    background-color: #333;
    color: #1e1e1e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header h1 {
    font-size: 32px;
    margin: 0;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav li {
    margin-left: 20px;
}

header nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}